{% for user in local_users %}
username {{ user.username }} privilege {{ user.privilege }} secret {{ user.secret }}
{%- endfor %}
aaa new-model
!
!
aaa group server tacacs+ {{ tacacs_plus_group }}
 {% for server in tplus_servers %}
 server name {{ server.name }}
 {%- endfor %}
!
aaa authentication login default group {{ tacacs_plus_group }} local
aaa authentication login CONSOLE none
aaa authorization exec default group {{ tacacs_plus_group }} local
{% for priv in privileges %}
aaa authorization commands {{ priv }} default group {{ tacacs_plus_group }} local
{%- endfor %}
!
!
!
!
!
!
aaa session-id common
!
{% for server in tplus_servers %}
tacacs server {{ server.name }}
 address ipv4 {{ server.ipv4 }}
 key {{ server.key }}
{%- endfor %}
