{% include 'global.j2' %}
!
{% include 'boot.j2' %}
!
{% include 'vsl.j2' %}
!
{% include 'aaa.j2' %}
!
{% include 'err-disable.j2' %}
!
{% include 'raguard.j2' %}
!
{% include 'vtp.j2' %}
!
{% include 'vlan.j2' %}
!
{% include 'dhcp.j2' %}
!
{% include 'logging.j2' %}
!
{% include 'stp.j2' %}
!
{% include 'interfaces.j2' %}
!
{% include 'snmp.j2' %}
!
{% include 'span.j2' %}
!
{% include 'line.j2' %}
!
{% include 'mdm.j2' %}
!
{% include 'eem.j2' %}
!
{% include 'end.j2' %}