ip dhcp relay information trust-all
ip dhcp snooping vlan {{ dhcp_snooping_vlans }}
no ip dhcp snooping information option
no ip dhcp snooping verify mac-address
no ip dhcp snooping verify no-relay-agent-address
ip dhcp snooping