no errdisable detect cause gbic-invalid
errdisable recovery cause udld
errdisable recovery cause bpduguard
errdisable recovery cause channel-misconfig
errdisable recovery cause psecure-violation
errdisable recovery cause storm-control
errdisable recovery cause inline-power
errdisable recovery interval 60