{% for interface in dynamic_interfaces %}
interface Port-channel{{ interface }}
 description default
 switchport
 switchport trunk allowed vlan {{ default_vlans }}
 switchport mode trunk
 switchport nonegotiate
 mtu 1586
 ipv6 nd raguard
 ipv6 dhcp guard
 snmp trap mac-notification change added
 snmp trap mac-notification change removed
 spanning-tree portfast edge trunk
!
{% for switch in switches %}
interface {{ downlink_ethernet_name }}{{ switch.number }}/{{ switch.module }}/{{ interface }}
 description default
 switchport trunk allowed vlan {{ default_vlans }}
 switchport mode trunk
 switchport nonegotiate
 mtu 1586
 ipv6 nd raguard
 ipv6 dhcp guard
 snmp trap mac-notification change added
 snmp trap mac-notification change removed
 spanning-tree portfast edge trunk
!
{%- endfor %}
{%- endfor %}