snmp-server group {{ snmp_group }} v3 auth match prefix
snmp-server group {{ snmp_group }} v3 auth context vlan- match prefix
snmp-server user {{ snmp_user }} {{ snmp_group }} v3 auth {{ snmp_auth_type }} {{ snmp_auth_key }} priv {{ snmp_priv_type }} {{ snmp_priv_key }}
snmp-server community {{ snmp_ro_community }} RO
snmp-server trap link ietf
snmp-server location {{ snmp_location }}
snmp-server contact {{ snmp_contact }}
snmp-server enable traps
snmp-server host {{ trap_host }} version 2c {{ trap_community }}
snmp ifmib ifindex persist